* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    .comic-neue-bold {
        font-family: "Comic Neue", cursive;
        font-weight: 700;
        font-style: normal;
      }

}

.main-container {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    font-family: "Comic Neue";
    
}

.newBookBtn, .addBookBtn {
    margin-left: auto;
    margin-right: auto;
    max-height: 5rem;
    max-width: 20rem;
    padding: 20px 50px;
    font-size: 2rem;
    background-color: blueviolet;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 15px;
    border: 6px solid;
    box-shadow: black 5px 5px;
    border-color: rgb(114, 36, 187);
    grid-column: 2 / 3;
    align-self: center;
}

button:hover {
cursor: pointer;

}

.newBookBtn {
    margin-bottom: 20px;
}

th {
    padding: 10px;

}

.table {
    width: 50vw;
    box-sizing: border-box;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    border: 3px solid black;
    border-radius: 7px;
    font-size: 1.5rem;
}

.table-header th {
    border-bottom: 1px solid black;
}


td {

    padding: 10px;
}

tr:nth-child(odd) {
background-color: rgb(218, 213, 213);

}





.dialog {
    border-radius: 7px;
    position: absolute;
    margin: auto;
    width: 35vw;
    min-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 1.2rem;
    font-family: "Comic Neue";
    align-items: center;
}

input, select {
    margin-bottom: 10px;
    height: 40px;
}

form h1 {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

 form > label {
    margin-bottom: 10px;
 }

 [type="text"], select, [type="tel"] {
    font-size: 1.2rem;
    max-width: 400px;
 }

 [type="text"] {
    padding-left: 1ch;
 }

 [type="tel"] {
    padding-left: 1ch;
 }

 form > button {
    margin: 20px 0px;
 }

 .exitBtn {
    padding: .7rem 3rem;
 }